<p>Hello <%=@user.name%>,</p>

<p>Here is a new code that will allow you to validate your account :</p>
<p><%=@user.confirmation_code%></p>
<p>this code will expire in <%=Application.fetch_env!(:hooroosh, :confirmation_code_expire_hours)%> hours.</p>
