Hello  <%=@user.name%>,

Here is a new code that will allow you to validate your account : <%=@user.confirmation_code%>.
Note this code will expire in <%=Application.fetch_env!(:hooroosh, :confirmation_code_expire_hours)%> hours.
