@import '~bulma/sass/utilities/initial-variables';
$link: #32a852;
$fullhd: $widescreen;
// Update blue
$blue: #32a852;
// Add pink and its invert
$pink: #32a852;
$pink-invert: #90EE90;
// Add a serif family
$family-serif: 'Roboto', sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;
// Use the existing orange as the danger color
$danger: $orange;
// Use the new serif family
$family-primary: $family-serif;
@import '~font-awesome/css/font-awesome.css';
@import '~bulma/bulma';

@import '_layout';
@import '_users';
@import '_recipes';
